.item {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(187, 187, 187);
    align-items: flex-start;
    min-height: 0px;
    padding: 8px 0 8px 0;
}

.checkbox {
    margin-left: 20px;
    margin-right: 20px;
}

.index {
    margin-left: 5px;
    display: flex;
}

.delete {
    border: 0;
    background-color: rgb(235, 0, 0);
    color: white;
    width: 70px;
    height: 26px;
    border-radius: 4px;
    margin: 0 5px 0 20px;
}

.delete:hover {
    border: 0;
    background-color: rgb(199, 0, 0);
    color: white;
    width: 70px;
    height: 26px;
    border-radius: 4px;
    margin: 0 5px 0 20px;
}

.text {
    width: 100%;
}

.addButton {
    border: 0;
    background-color: rgb(34, 236, 34);
    color: white;
    width: 70px;
    height: 26px;
    border-radius: 4px;
    margin: 0 5px 0 20px;
}

.addButton:hover {
    border: 0;
    background-color: rgb(9, 187, 9);
    color: white;
    width: 70px;
    height: 26px;
    border-radius: 4px;
    margin: 0 5px 0 20px;
}

/* .input {
    width: 100%;
    margin-left: 5px;
    box-sizing: border-box;
} */

.input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: 5px;
    border-radius: 3px;
    width: 340px;
    font-size: 14px;
    margin-left: 5px;
}